.profile__button_pensil{
  width: 24px;
  height: 24px;
  margin: 14px 0 0 18px;
  align-self: baseline;
  background-color: transparent;
  border: 1px solid #FFFFFF;
  padding: 0;
}

@media all and (max-width:1130px){
  .profile__button_pensil{
      margin: 18px auto 0 0;
  }
}

@media all and (max-width:690px){
  .profile__button_pensil{
    margin: 0;
    max-width: 18px;
    align-self: flex-end;
    margin-bottom: 6px;
  }
}