.profile__button-plus{
  max-width: 150px;
  background-color: transparent;
  max-height: 50px;
  padding: 0;
  border: none;
}

.profile__button-plus:hover{
  opacity: 0.6;
}

@media all and (max-width:690px){
  .profile__button-plus{
    max-width: 282px;
    width: 282px;
    margin: 36px auto 0 auto;
    align-self: stretch;
  }
}