.profile__button-pensil_pensilimg{
  width: 10px;
  height: 10px;
  padding: 5px;
  margin: 0;
  border: 1px solid #FFFFFF;
}

@media all and (max-width:690px){
  .profile__button-pensil_pensilimg{
    width: 8px;
    padding: 3px;
  }
}