.element__item{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  max-width: 288px;
  padding: 0;
  background-color: #ffffff;
  border-radius: 10px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

@media all and (max-width:880px){
  .element__item{
    max-width: 100%;
  }
}