.element__button{
  max-width: 22px;
  margin: auto 0 auto 0;
  background-color: transparent;
  border: none;
  padding: 0;
  height: 22px;
  align-self: flex-end;
}

.element__button:hover{
  opacity: 0.5;
}